# Python
.venv/
__pycache__/
*.pyc

# Secrets
.env
Backend/.env

# MLflow
mlruns/
Backend/mlruns/

# Grafana
grafana-storage/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# OS
.DS_Store
Thumbs.db

