.venv/
.venv_mlflow/
__pycache__/
*.pyc
.env
Backend/.env
Backend/instance/
Backend/mlflow.db
mlruns/
Backend/mlruns/
grafana-storage/
airflow/logs/
airflow/plugins/__pycache__/
.DS_Store
Thumbs.db
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/crash.log
terraform/crash.*.log
