# Python
.venv/
__pycache__/
*.pyc

# Secrets
.env
Backend/.env

# MLflow
mlruns/
Backend/mlruns/

# Grafana
grafana-storage/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# OS
.DS_Store
Thumbs.db

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/crash.log
terraform/crash.*.log